<!DOCTYPE html>
<html lang="en">

<head>
	<script src="../js/common.js"></script>
	<title>Directorio</title>
</head>


<body>

	<header id="header"></header>

	<main id="main">

		<h1>Directorio de galerias de arte Randart</h1>
		<p class="centered-paragraph">¿Qué estás esperando para exponer tus obras?</p>
		<hr>

		<!-- CODIGO DINAMICO NUEVO -->
		<div id="app">
			<section v-if="error">Lo sentimos se produjo un error</section>
			<section v-else>
				<section v-if="cargando">
					<div class="spinner-border"></div>
					<p>Cargando .....</p>

				</section>
				<section v-else>

					<section class="directorio">

						<div v-for="galeria in galerias">
							
							<span>
								<iframe :src="galeria.mapa_url" width="400" height="300" style="border:0;"
									allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</span>
							
							<h2>{{galeria.razon_social}}</h2>
							<div>
								<p>{{galeria.observaciones}}</p>
							</div>

						</div>

					</section>
				</section>
			</section>
		</div>


	</main>
	<footer id="footer"></footer>
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="../js/galerias.js"></script>
	
</body>

</html>