<!DOCTYPE html>
<html lang="en">

<head>
	<script src="../js/common.js"></script>
	<title>Galería</title>
</head>


<body>

	<header id="header"></header>

	<main id="main">

		<h1>Randart - Arte y colección al azar</h1>
		<p class="centered-paragraph">Subí tu obra o artículo de colección que quieras vender. Todas tendrán la misma
			probabilidad de ser
			vistas.</p>
		<hr>

		<!-- CODIGO DINAMICO NUEVO -->
		<div id="app">
			<section v-if="error">Lo sentimos se produjo un error</section>
			<section v-else>
				<section v-if="cargando">
					<div class="spinner-border"></div>
					<p>Cargando .....</p>

				</section>
				<section v-else>

					<section class="tiles">

						<article v-for="articulo in articulos">

							<span class="image">
								<img :src="articulo.imagen" alt="" class="flexible-image" />
							</span>
							<a
								:href="'articulo.html?id=' + articulo.id">
								<h2>{{articulo.titulo}}</h2>
								<div class="content">
									<p>{{articulo.descripcion}}</p>
								</div>
							</a>

						</article>

					</section>
				</section>
			</section>
		</div>

	</main>
	<footer id="footer"></footer>
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="../js/articulos.js"></script>
	
</body>

</html>